* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
  list-style: none;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  margin: 13px auto 15px auto;
}

.header_ol {
  display: flex;
  gap: 62px;
}

.header_link {
  font-size: 14px;
  line-height: 14px;
  color: #1c1c1c;
  text-decoration: none;
}

.button {
  height: 40px;
  width: 157px;
  border-radius: 20px;
  background: #6f2cff;
  border: none;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
}

.button:hover {
  background: #5300c0;
  transition: 2s;
  cursor: pointer;
}

.main {
  background: #f6bed9;
  padding: 58px 0 59px;
}

.main_title {
  font-weight: 700;
  font-size: 54px;
  line-height: 61px;
  max-width: 470px;
}

.main_title-violet {
  color: #6f2dff;
}

.main_text {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 18px;
  line-height: 30px;
  max-width: 438px;
  margin: 18px 0;
}

.main_text-bold {
  font-weight: bold;
}

.main_input {
  height: 45px;
  width: 268px;
  border: 1px solid #6f2cff;
  border-radius: 28px;
  padding-left: 26px;
}

.main_input::placeholder {
  font-size: 15px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.27);
}

.main_input:focus {
  outline: none;
}

.main_button {
  height: 45px;
  width: 187px;
  margin-left: 9px;
}

.footer {
  background: #20003c;
  padding: 58px 0;
}

.footer_ul {
  display: flex;
  gap: 74px;
}

.footer_link {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}
